;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.36.1"]]

 :builds
 {:extension {:target :node-library
              :output-to "Open On Github.novaextension/Scripts/core.js"
              :exports-var open-on-github.core/main
              :compiler-options {:externs ["externs/nova.js"]}}

  :repl {:target :node-script
         :output-to "tmp/repl.js"
         :main open-on-github.repl/main
         :compiler-options {:externs ["externs/nova.js"]}
         :devtools {:after-load open-on-github.repl/main}}

  :test {:target :node-test
         :output-to "tmp/test.js"
         :main open-on-github.test-runner/run-all-tests
         :compiler-options {:externs ["externs/nova.js"]}
         :autorun true}}}
